<html>
    <head>

    </head>
    <body>
       <form action='/contact' method='post'>
           <input type='number' name='a' required='required'/>
           <input type='number' name='b' required='required'/>
           <input type='number' name='c' required='required'/>
           <input type='number' name='d' required='required'/>
           <input type='number' name='e' required='required'/>
           <input type='number' name='f' required='required'/>
           <input type='number' name='g' required='required'/>
           <input type='number' name='h' required='required'/>
           <button type='submit'>Predict</button>
           </form>
    </body>
</html>